.home_page{
    width: 100%;
    color: rgb(56, 48, 48);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* .home_page li{
    display: block;
}

.home_page .factory_img {
    width: 400px;
    float: right;
}

.home_page .nav_bar {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home_page .nav_bar .logo {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.home_page .nav_bar .logo img {
    width: 40px;
    margin: 0 7px;
}

.home_page .menu_item {
    padding: 5px 10px;
    margin: 0 10px;
    color: rgb(0, 0, 0);
    font-weight: 700;

    display: inline-block;
}

.home_page .menu_item:after {
    content: '';
    display: block;
    height: 2px;
    background: rgb(103, 128, 199);
    transform: scaleX(0);  
    transition: transform 300ms ease-in-out;
}

.home_page .menu_item:hover {
    transform: scale(1.05);
    transition: 400ms;
}

.home_page .menu_item:hover::after {
    transform: scaleX(0.8);
}

.home_page .nav_bar .sign {
    position: relative;
    margin-right: 20px;
}

.home_page .nav_bar .sign .drop_profile {
    position: relative;    
    display: flex;
    align-items: center;
}

.home_page .nav_bar .sign .drop_profile .profile {
    position: relative;
    height: 35px;
    margin-right: 3px;
    max-width: 300px;
    border-radius: 10px;
    padding-right: 5px;
}

.home_page .nav_bar .sign .drop_profile .profile:hover {
    background: rgba(216, 216, 216, 0.349);
}

.profile img {
    margin: 0 5px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background: #07335c;
    object-fit: cover;
}

.home_page .drop_profile .dropdown{
    position: absolute;
    top: 35px;
    right: 0;
    width: 100px;
    padding: 10px;
    display: none;
    background: rgba(201, 201, 201, 0.534);
    border-radius: 10px;
}

.home_page .drop_profile:hover .dropdown{
    display: block;
}
.home_page .profile {
    height: 55px;
    position: relative;
    display: flex;
    justify-items: flex-end;
    align-items: center;
}

.home_page .dropdown {
    position: absolute;
    top: 0;
}

.home_page .sign a{
    color: #000000;
}

.home_page .dropdown .drop_item {
    margin-top: 2px;
    width: 100px;
}

.home_page .dropdown .drop_item:hover {
    padding-left: 10px;
    border-left-width: 7px;
    border-left: #07335c 2px solid;
    color: #07335c;
}

.home_page .banners {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 400px;
    max-width: 2000px;
    min-width: 1000px;
    /* max-height: 600px;  min-height: 400px; 
    margin:  0 auto;
    display: flex;
    justify-content: end;
    background: linear-gradient(160deg, #07335c, #548ad1);
    object-fit: cover;
}

.home_page .banners .bn_title {
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 70px;
    color: #fff;
    letter-spacing: 2.5px;
    font-size: 2.5rem;
    font-weight: 500;
}

.home_page .container {
    margin: 0 auto;
    width: 100%;
    max-width: 2000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.home_page .container img {
    margin: auto auto;
    overflow: hidden;
}

.home_page .container .ctn {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;

    background: #00000008;
    object-fit: cover;

    border-top: #5858584b 2px solid;
}

.home_page .container .ctn .para {
    display: flex;
    flex-direction: column;
    justify-content: center
}

.home_page .container .ctn p {
    padding: 30px;
    margin-bottom: 10px;
    max-width: 800px;
    text-align: justify;
}

.home_page .container .row-1 {
    display: flex;
    align-items: flex-end;
    object-fit: contain;
}

.home_page .container .ctn h2 {
    padding-left: 50px;
    padding-top: 30px;
}

.home_page .container .video_ctn {
    margin: 30px auto;
}

.home_page .footer {
    height: 250px;
    position: relative;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-image: url('/wave.svg');
    background-repeat: no-repeat;
    background-size: cover;
    color: rgba(255, 255, 255, 0.705);
}

.home_page .footer .logo{
    display: flex;
    align-items: center;
}

.home_page .footer i{
    color: rgba(255, 255, 255, 0.705);
} */


@media all and (min-width: 320px) and (max-width: 860px) {
    .home_page {
        font-size: 0.8rem;
    }

    .home_page .nav_bar {
        position: relative;
        z-index: 2;
        width: 100%;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .home_page .nav_bar .logo {
        display: flex;
        align-items: center;
        margin-left: 20px;
    }
    
    .home_page .nav_bar .logo img {
        width: 40px;
        margin: 0 7px;
    }
    
    .home_page .menu_item {
        padding: 5px 10px;
        margin: 0 10px;
        color: rgb(0, 0, 0);
        font-weight: 700;
    
        display: inline-block;
    }
    
    .home_page .menu_item:after {
        content: '';
        display: block;
        height: 2px;
        background: rgb(103, 128, 199);
        transform: scaleX(0);  
        transition: transform 300ms ease-in-out;
    }
    
    .home_page .menu_item:hover {
        transform: scale(1.05);
        transition: 400ms;
    }
    
    .home_page .menu_item:hover::after {
        transform: scaleX(0.8);
    }
    
    .home_page .nav_bar .sign {
        position: relative;
        margin-right: 20px;
    }
    
    .home_page .nav_bar .sign .drop_profile {
        position: relative;    
        display: flex;
        align-items: center;
    }
    
    .home_page .nav_bar .sign .drop_profile .profile {
        /* position: relative;
        height: 35px;
        margin-right: 3px;
        max-width: 200px;
        border-radius: 10px;
        padding-right: 5px; */
    }

    .home_page .nav_bar .sign .drop_profile p {
        display: none;
    }
    
    .home_page .nav_bar .sign .drop_profile .profile:hover {
        background: rgba(216, 216, 216, 0.349);
    }
    
    .profile img {
        margin: 0 5px;
        width: 30px;
        height: 30px;
        border-radius: 30px;
        background: #07335c;
        object-fit: cover;
    }
    
    .home_page .drop_profile .dropdown{
        position: absolute;
        top: 35px;
        right: 0;
        width: 100px;
        padding: 10px;
        display: none;
        background: rgba(201, 201, 201, 0.534);
        border-radius: 10px;
    }
    
    .home_page .drop_profile:hover .dropdown{
        display: block;
    }
    .home_page .profile {
        height: 55px;
        position: relative;
        display: flex;
        justify-items: flex-end;
        align-items: center;
    }
    
    .home_page .dropdown {
        position: absolute;
        top: 0;
    }
    
    .home_page .sign a{
        color: #000000;
    }
    
    .home_page .dropdown .drop_item {
        margin-top: 2px;
        width: 100px;
    }
    
    .home_page .dropdown .drop_item:hover {
        padding-left: 10px;
        border-left-width: 7px;
        border-left: #07335c 2px solid;
        color: #07335c;
    }

}