.auth {
    width: 100vw;
    min-width: 800px;
    height: 100vh;
    min-height: 700px;
    margin: 0 auto;
    color: #ffffff;
    background: #1C224F;
}

.auth .wrap {
    position: relative;
    margin:  0 auto;
    width: 800px;
    height: 100vh;
    min-height: 700px;
    max-height: 800px;
    background: radial-gradient(50% 50% at 50% 50%, #00A6FF 0%, rgba(0, 166, 255, 0.7) 0.1%, rgba(255, 255, 255, 0) 100%);
    /* opacity: 0.7; */
}


.auth .wrap .form {
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 700px;
    height: 100%;
    margin: 0 auto;
}



.auth h2{
    margin-top: 80px;
    
    text-transform: uppercase;
    font-size: 2rem;
    
    letter-spacing: 0.8px;
    text-align: center;
    font-weight: 600;
}

.auth .img_acc {
    margin: 20px 0;
    height: 70px;
}

.auth .img_check {
    height: 200px;
}

.auth label {
    margin-top: 15px;
    margin-left: 180px;
    font-weight: 500;
    font-size: 1rem;
}

.auth input{
    width: 360px;
    height: 45px;
    margin: 10px 170px;
    border: none;
    outline: none;
    padding: 0 20px;

    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.356);
    border-radius: 50px;

    letter-spacing: 0.1rem;
    font-weight: 700;
}

.auth input:focus {
    background: #cdf1ffec;
    box-shadow: 2px 7px 6px rgba(0, 0, 0, 0.541);
    outline: none;
}

.auth input:focus::placeholder {
    color: rgba(255, 0, 0, 0);
}

.auth input::placeholder {
    color: rgb(192, 192, 192);
    font-weight: 500;
}

.auth .form .btn {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.auth .form .btn button{
    width: 360px;
    height: 45px;
    padding: 10px 0;
    color: #fff;
    text-transform: uppercase;
    background: #FF647C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;

    font-size: 1.2rem;
    line-height: 16px;
    font-weight: 600;
}

.auth .form .btn button:hover {
    background: #cf5063;
    box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.171);
}

.auth a{
    color: #fff;
    padding: 0 5px;
}

.auth .link_signup {
    border-left: #fff solid 2px;
}

.auth p{
    margin: 10px 0;
}

.auth .check_form {
    width: 600px;
    height: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-around;
}

.auth .check_title {
    font-size: 1.7rem;
}

/* ---------- Facebook / Google ---------------- */

.auth .social {
    position: relative;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.auth .social .login_with{
    position: absolute;
    left: 20%;
    margin: 20px !important;
    width: 70px !important;    
    height: 70px !important;
    border-radius: 70px !important;
    background-image: url("/google.png") !important;
    background-size: 50px 50px !important;
    background-repeat: no-repeat;
    background-position: center;

    overflow: hidden;
    border: 2px solid white ;
}

.auth .social .login_with:hover{
    background-color: rgb(230, 230, 230) !important;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.384) !important;
    transform: scale(1.1);
    transition: 300ms;
}

.auth .social .login_with div {
    display: none !important;
}


.auth .social .login_with span{
    display: none !important;
}

.kep-login-facebook {
    position: absolute;
    color: #ffffff00 !important;
    background-color: #ffffff !important;
    background-image: url("/facebook.png") !important;
    background-size: 70px 70px !important;
    background-position: center;
    margin: 20px !important;
    width: 70px !important;
    height: 70px !important;
    border-radius: 70px !important;
    overflow: hidden !important;
    border: 2px solid white !important;
}

.kep-login-facebook:hover {
    background-color: rgb(230, 230, 230) !important;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.384);
    transform: scale(1.1);
    transition: 300ms;
}